<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启注解的支持-->
    <context:annotation-config/>

    <!--<bean id="cat" class="ustc.wzh.pojo.Cat"></bean>-->
    <!--<bean id="dog" class="ustc.wzh.pojo.Dog"></bean>-->

    <!--1.原来显示装配的写法-->
    <!--<bean id="people" class="ustc.wzh.pojo.People">-->
    <!--<property name="name" value="小王"></property>-->
    <!--<property name="cat" ref="cat"></property>-->
    <!--<property name="dog" ref="dog"></property>-->
    <!--</bean>-->

    <!--2.非注解的自动装配的写法-->
    <!--<bean id="people" class="ustc.wzh.pojo.People" autowire="byName">-->
    <!--<property name="name" value="小王"></property>-->
    <!--</bean>-->

    <!--<bean id="people" class="ustc.wzh.pojo.People" autowire="byType">-->
    <!--<property name="name" value="小王"></property>-->
    <!--</bean>-->

    <!--3.注解的自动装配-->
    <bean id="cat" class="ustc.wzh.pojo.Cat"></bean>
    <bean id="dog" class="ustc.wzh.pojo.Dog"></bean>
    <bean id="people" class="ustc.wzh.pojo.People"></bean>



</beans>